body > div:first-child label {
	display: inline-block;
	width: 5em;
	text-align: right;
	padding-right: 1em;
}

body > div:first-child label:after {
	content: ":";
}

button {
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 22'%3E%3Cpath d='M1,1 l5,10 l-5,10 M6,1 l5,10 l-5,10' fill='none' stroke='%23000' /%3E%3C/svg%3E");
	background-repeat: no-repeat;
	border-width: 1px 0;
	border-color: #000;
	border-style: solid;
	background-color: #fff;
	padding: 5px 15px;
	transition: background-position 0.5s;
}

button:hover {
	background-position: right;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	padding-left: 1em;
}

li:nth-child(2n+1) {
	background-color: #fff;
}

li:nth-child(2n) {
	background-color: #f9f9f9;
}
